@font-face {
  font-family: 'Quattrocento Sans';
  font-style:  normal;
  font-weight: 400;
  src: url("../../static/fonts/QuattrocentoSans.woff") format("woff");
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style:  italic;
  font-weight: 400;
  src: url("../../static/fonts/QuattrocentoSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Quattrocento Sans';
  font-style:  normal;
  font-weight: 700;
  src: url("../../static/fonts/QuattrocentoSans-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Quattrocento Sans';
  font-style:  italic;
  font-weight: 700;
  src: url("../../static/fonts/QuattrocentoSans-BoldItalic.woff") format("woff");
}